html{
    background: linear-gradient(#f4dcab,#abc8c6);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

header{
    padding:0px 105px;
    background: #398583;
    max-width: 1020px;
}

header ul li a{
    color:black;
}
  
.aboutustitle{
    margin: auto;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.aboutustitle img{
    height: 100vh;
    object-fit: cover;
    opacity: 80%;
}

.aboutustitle h1{
    position: absolute;
    color:  #44aaac;
    padding: 30px 60px 20px 60px;
    text-align: center;
    background-color: #F4DCAB;
    font-size: 60px;
    font-family: "Scripto", 'Times New Roman', Times, serif;
    border: double 5px #7c3d2a;
    text-decoration: underline;
    margin-top: 20%;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 20px #7c3d2a;
    }
    to {
      text-shadow: 0 0 30px #b0887c, 0 0 10px #cca69b;
    }
}
.aboutussec {
    background: linear-gradient(#f4dcab,#47abab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    justify-content: center;
    height: auto;
}
           
.aboutussec p {
    color: #7c3d2a;
    padding-top: 15px;
    margin: 0px 80px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Roboto Slab", sans-serif;
    text-align: justify;
} 

.aboutussec img{
    width: 15%;
    height: 15%;
    display: block;
}

#pic1{
    float: left;
    margin: 30px 20px 5px 80px;
}

#pic2{
    float: right;
    margin: 10px 80px 1px 30px;
}

#pic3{
    float: left;
    margin: 15px 20px 20px 80px;
}

.aboutussec h2 {
    color: #7c3d2a;
    padding: 30px 60px 70px 60px;
    text-align: center;
    font-family: "Scripto", Times, serif;
    text-shadow: 5px 10px #e0c55c;
    font-size: 3.5em;
}

footer{
    margin-top: 0%;
    padding: 60px 100px;
}

